{% extends 'base.html.twig' %}
{% block title %}Symfart Article{% endblock %}
{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <a href="/">go back</a>
{% endblock %}